.contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0;
    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        &-pic {
            width: 60px;
            height: 60px;
        }
        &-desc {
            padding-left: 3rem;
            line-height: 1.8rem;
        }
    }
}
.contacts-svg-pic {
    fill: #FF5253;
}