.discount-section {
    max-height: 30rem;
    background-attachment: fixed;
    background-image: url('../images/content/layer-discount.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-headline {
        padding-top: 140px;
        color: #D5CACA;
    }
}